@import './Vendors/bootstrap.scss';
@import 'bootstrap/scss/bootstrap';

@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';

@import 'react-datepicker/src/stylesheets/datepicker.scss';

@import './Theme/index.scss';

.card {
  border-left: 0px !important;
  border-right: 0px;
  border-radius: 0px;
}

.card:not(:first-child) {
  border-top: 0px;
}
