.moderation-panel-parent {
  min-height: 10vh;
  max-height: 60vh;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow-y: auto;
  background-color: #721e54;
  .moderation-container {
    margin: 1em;
  }
}

.moderation-panel-participation {
  margin-top: 1rem;
}

.moderation-reply {
  background-color: white;
  padding: 1rem 0.5rem;
}

.moderation-debate-reply {
  margin-left: 0.4rem;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
