.comment-list-item {
  margin: 0.5em 0;
}

.edit-label {
  display: inline;
  border-radius: 5px;
  background: #d9d9d9;
  padding: 2px 4px;
  margin-left: 5px;
}

.moderation-label {
  border-radius: 5px;
  background: #721e54b5;
  color: white;
  padding: 2px 4px;
  width: 80px;
  font-size: 0.8rem;
  text-align: center;
}

.comment-list-root {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
}

.sticky-parent {
  width: inherit;
}

.sticky {
  position: fixed;
  top: 97px;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: inherit;
  border: 1px solid rgb(217, 217, 217);
  padding: 1rem;
  border-radius: 10px;
  background: white;
}
